Repository Elao/elao_, pull requests merged in 2022-01, with the labels that each got.

#445 Job offer - "Responsable des opérations"
  assets/scss/pages/_page-job-posting.scss
  content/job/job-responsable-operations-2022.md
  templates/job/show.html.twig
Labels: help wanted

#449 Draft itw thomas
  assets/scss/components/_elaomojis.scss
  content/blog/elao/thomas-developpeur-web-depuis-9-ans.md
  public/images/posts/2022/itw-thomas/awake.jpeg
  public/images/posts/2022/itw-thomas/both.gif
  public/images/posts/2022/itw-thomas/header.jpg
Labels: blog

#450 [Blog] - Tom itw typos
  content/blog/elao/thomas-developpeur-web-depuis-9-ans.md
Labels: review 🔍, blog
