Repository Elao/elao_, pull requests merged in 2023-09, with the labels that each got.

#515 [CONTENT] Efire use case
  assets/images/technos/python.svg
  content/case-study/efire.md
  content/images/casestudies/efire-qualification.jpg
  content/images/casestudies/efire-selection.jpg
  content/images/casestudies/efire-snapshot.jpg
  content/images/casestudies/efire-snapshot.png
  content/images/casestudies/efire-ux.png
  content/images/casestudies/headers/efire.png
  content/term/python.md
Labels: wip 🛠, content 📝

#548 [CONTENT] Efire use case - Add citation
  content/case-study/efire.md
Labels: content 📝, blog

#526 [Blog] - RGPD
  content/blog/methodo/conception-applicative-et-rgpd-feuille-de-route-part-1.md
  content/images/blog/thumbnails/big-data-is-watching.jpg
Labels: content 📝, review 🔍, blog

#522 [BLOG] Itw Romane
  assets/images/elaomojis/miscellaneous/gremlin-ohno.png
  assets/images/elaomojis/miscellaneous/surprised-pikachu.png
  content/blog/elao/romane-alternante-bon-public.md
  content/images/blog/2023/itw-romane/parcours.png
  content/images/blog/2023/itw-romane/romane.jpeg
  content/member/rledru.yaml
  content/misc/elaomojis.yaml
  src/Model/Member.php
  templates/team/member.html.twig
Labels: content 📝, blog
